{% extends 'base.html' %}

{% block title %}Change password{% endblock %}

{% block links %}
    <a class="custom-nav-link" href="../home">Back</a>
    <a class="custom-nav-link" href="">Forgot Password</a>
{% endblock%}

{% block content %}
    <div class="container custom-form-container my-6 ">
        <h2 class="text-center">Change Your Password</h2>
        <form method="POST">
            {% csrf_token %}
            <div class="custom-form-group">
                <label for="password" class="custom-form-label">Password *</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Enter your current password" required onblur="check_password()">
                <small id="checkpasswod"></small>
            </div>
            <div class="custom-form-group">
                <label for="new_password" class="custom-form-label">New Password *</label>
                <input type="password" class="form-control" id="new_password" name="new_password" placeholder="Enter your new password" required>
            </div>
            <div class="custom-form-group">
                <label for="re_password" class="custom-form-label">Re-Enter Password *</label>
                <input type="password" class="form-control" id="re_password" name="re_password" placeholder="Re-enter your new password" required>
            </div>
            {% for msg in messages %}
            <div class="message">{{ msg }}</div>
            {% endfor %}

            <button type="submit" class="btn btn-primary custom-btn-submit" id="submit">Submit</button>
        </form>
    </div>
{% endblock %}

