{% extends 'base.html' %}

{% block title %}Forgot password{% endblock %}

{% block links %}
    <a class="custom-nav-link" href="/">Back</a>
    <a class="custom-nav-link" href="login">Login</a>
{% endblock %}

{% block content %}
    <div class="container custom-form-container my-6">
        <h2 class="text-center">Change Your Password</h2>
        <form method="POST">
            {% csrf_token %}
            <div class="custom-form-group">
                <label for="account_number" class="custom-form-label">Account Number *</label>
                <input type="text" class="form-control" id="account_number" name="account_number" placeholder="Enter your Account Number" required >
            </div>
            <span id="check_reponse"></span>

            <!-- Hidden input to store the generated password -->
            <input type="hidden" id="generated_password" name="generated_password" value="">

            <button type="submit" class="btn btn-primary custom-btn-submit" onclick="generatePassword(event)">Submit</button>
        </form>
    </div>

    <script>
        // Populate the array with account numbers
        var all_acnumber = [
            {% for user in users %}
            "{{ user.account_number }}",
            {% endfor %}
        ];

        {% for message in messages %}
            alert("{{ message|escapejs }}");
        {% endfor %}

    </script>
{% endblock %}
