{% extends 'base.html' %}

{% block links %}
    <a class="nav-link" href="forget_password">Forgot Password</a>
    <a class="nav-link" href="withdraw">Send Money</a>
{% endblock%}


{% block content %}
    <div class="container1 w-50">
        <h2 class="text-center1">Open a Bank Account</h2>
        <form method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="accountnumber" class="form-label">Account Number *</label>
                <input type="text" class="form-control" id="accountnumber" name="accountnumber" placeholder="Enter your account number" required onkeyup="withdraw()">
                <small style="color:red" id="checkaccountnumber"></small>
            </div>
            <div class="form-group">
                <label for="amount" class="form-label">Amount *</label>
                <input type="text" class="form-control" id="amount" name="amount" placeholder="Enter the amount" required onkeyup="withdraw()">
                <small style="color:red" id="checkamount"></small>
            </div>
            <div class="form-group">
                <label for="password" class="form-label">Password *</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Enter your password" required>
                {% for msg in messages %}
                <small style="color:red" id="checkpassword">msg</small>
                {% endfor %}
            </div>


            <button type="submit" class="btn-submit1" id="submit">Submit</button>
        </form>
    </div>

    <script>
        var account_number = "{{ user.account_number }}";
        console.log(account_number);
        var balance = parseFloat("{{ user.deposit }}");
        let accountnumber = document.getElementById("accountnumber");
        let amount = document.getElementById("amount");
        let password = document.getElementById("password");
        let submit = document.getElementById("submit");

        amount.disabled = true;
        password.disabled = true;
        submit.disabled = true;

    </script>
{% endblock %}


